<div>
  <%= link_to "Create a transaction", controller: "transactions", action: "new" %>
  <%= link_to "Show unverified transactions", controller: "transactions", action: "index" %>
  <%= link_to "Show blocks", controller: "blockchain", action: "index" %>
  <%= link_to "Mine a block", controller: "blockchain", action: "new" %>
</div>