<!DOCTYPE html>
<html>
<head>
  <title>Simple_block_chain</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div>
  <a href="/" style="text-decoration: none;font-weight: bold">Simple Block Chain</a>
</div>
<%= yield %>
</body>
</html>
